/* .carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
  }
  
  .carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    width: 100%;
    max-width: 960px;
    height: 340px;
    position: relative;
    overflow: hidden; 
    border-radius: 15px;
    margin: auto;
  }
  .slide{
    width: 100%;
    height: 340px;
    position: absolute;
    transition: all 0.5s;
  }

.slide div {
    display: flex;
}
.slide img {
    height: 19rem;
    width: 100%;
}
section.carousel-container {
    padding: 0;
}

  
  .btn {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .btn-prvs {
    left: 20%;
  }
  
  .btn-next {
    right: 20%;
  }

  .slide p{
    display: block;
    width: 50%;
  }
   */