.carousel {
  background: #e5e0e0;
}
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
  }
  .carousel-container h2{
    text-align: center;
  }
  .carousel-slide {
    height: 30rem;
  }
  .slide{
    padding: 2rem 0rem 0rem 2rem;
    height: 23rem;
    width: 100%;
    position: absolute;
    transition: all 0.5s;
    display: flex;
  }
.slide div{
  width: 50%;
}
.slide img {
    height: 100%;
    width: 100%;
}
section.carousel-container {
    padding: 0;
}
  
  .btn-prvs {
    left: 20%;
  }
  
  .btn-next {
    right: 20%;
  }

  .slide p{
    display: block;
    width: 50%;
  }

  .carousel-buttons {
    position: absolute;
    left: 34%;
    bottom: 7%;
}
  