.global-network{
    margin-top: 3rem;
    position: relative;
    color: #fff;
    padding: 60px 0;
    margin-bottom: 20px;
    background: #5abad7;
    text-align: center;
}

.global-network p{
    margin: 3rem 7rem;
    color: inherit;
    font-size: 18px;
    position: relative;
    line-height: 24px;
    text-align: center;
}

p.button-container {
    display: flex;
    justify-content: center;
    margin: 3rem 7rem;
}

.global-network .button-container a {
    background-color: #fff;
    display: inline-block;
    font-weight: 400;
    font-family: inherit;
    border: 1px solid #0e2554;
    padding: 10px 32px 10px 23px;
    text-align: left;
    text-decoration: none;
    color: #080808;
    position: relative;
    flex-basis: 100%;
    border-radius: 0;
}
#global-network {
    color: #fff;
    position: relative;
    line-height: 32px;
    text-align: center;
    font-size: 2rem;
}

#global-network::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 4px;
    background-color: #ffc400;
    border-radius: 0;
    opacity: 1;
    bottom: 0;
    left: 50%;
    margin-left: -33px;
    display: block;
    z-index: 5;
    top: 50px;
}